:root {
    --primary-color-dark: #FF7757;
    --primary-color-light: #FFE8D4;
    --secondary-color-dark: #172432;
    --secondary-color-light: #767E86;
    --secondary-color-light-grey: #F5F6F7;
    --secondary-color-white: #FFF;
    --secondary-color-yellow: #FFC107;
    --title-font: 'Playfair Display', serif;
    --text-font: Rubik, sans-serif;
}

$bp-mobile: 320px;
$bp-tablet: 786px;
$bp-desktop-small: 1152px;
$bp-desktop-medium: 1440px;
$bp-desktop-big: 1920px;