:root {
    --primary-color-dark: #FF7757;
    --primary-color-light: #FFF8F1;
    --secondary-color-dark: #172432;
    --secondary-color-light: #767E86;
    --secondary-color-light-grey: #F5F6F7;
    --secondary-color-white: #FFF;
    --secondary-color-yellow: #FFC107;
    --title-font: 'Playfair Display', serif;
    --text-font: Rubik, sans-serif;
}