.offer-card {
    display: flex;
    flex-direction: column;
    border-radius: 26px;
    background-color: var(--primary-color-light);
    max-width: 730px;
    overflow: hidden;

    &__img img {
        height: 286px;
        width: 100%;
    }

    &__photo {
        object-fit: cover;
        display: block;
        min-width: 100%;
        min-height: 100%;
    }

    &__text {
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 24px;

        @media screen and (min-width: $bp-tablet) {
            padding: 20px 24px;
        }

        @media screen and (min-width: $bp-desktop-medium) {
            padding: 40px 24px;

        }
    }

    &__title {
        color: var(--secondary-color-light);
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 8px;
    }

    &__description {
        font-size: 16px;

        @media screen and (min-width: $bp-tablet) {
            font-style: 18px;
        }
    }

    &__price-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 20px;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
            align-items: center;
        }
    }

    &__price-text {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
    }

    &__start-price {
        color: var(--secondary-color-light);
        margin: 0;

        @media screen and (min-width: $bp-desktop-medium) {
            font-size: 20px;
        }
    }

    &__price {
        font-size: 32px;
        margin: 0;

        @media screen and (min-width: $bp-desktop-small) {
            font-size: 28px;
        }

        @media screen and (min-width: $bp-desktop-medium) {
            font-size: 40px;
        }
    }
}