.slider {
    display: flex;
    justify-content: end;
    gap: 40px;

    &__button {
        width: 66px;
        height: 60px;
        border: none;
        background-color: transparent;
        cursor: pointer;

        &:active {
            translate: 1px 1px;
        }

        &--left {
            fill: var(--primary-color-dark);
        }

        &--right {
            fill: var(--secondary-color-dark);
            transform: rotate(0.5turn);
        }
    }
}