.slider {
    display: flex;
    justify-content: center;
    gap: 40px;

    &--top {
        display: none;

        @media screen and (min-width: $bp-desktop-small) {
            display: flex;
            justify-content: end;
        }
    }

    &--bottom {
        margin: 100px auto 0 auto;

        @media screen and (min-width: $bp-desktop-small) {
            display: none;
        }
    }

    &__button {
        width: 66px;
        height: 60px;
        border: none;
        background-color: transparent;
        cursor: pointer;

        &:active {
            translate: 1px 1px;
        }

        &--left {
            fill: var(--primary-color-dark);
        }

        &--right {
            fill: var(--secondary-color-dark);
            transform: rotate(0.5turn);
        }
    }
}