.gallery-section {
    &__title {
        display: flex;
        flex-direction: row;
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        // gap: 32px;

        @media screen and (min-width: $bp-desktop-small) {
            flex-direction: row;
        }
    }
}
