.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 24px;

    @media screen and (min-width: $bp-tablet) {
        padding-top: 35px;
    }

    @media screen and (min-width: $bp-desktop-small) {
        padding-top: 40px;
    }

    &__container {
        display: flex;
        align-items: center;
    }

    &__nav {
        flex-grow: 1;
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__logo {
        max-width: 140px;

        @media screen and (min-width: $bp-tablet) {
            max-width: 235px;
        }
    }

    &__menu {
        display: none;

        @media screen and (min-width: $bp-desktop-small) {
            display: flex;
            gap: 32px;
            text-align: center;
            align-items: center;
            flex-grow: 1;
            justify-content: center;
        }
    }

    &__link {
        color: var(--secondary-color-white);
        text-decoration: none;
        font-size: 20px;

        &:hover {
            text-decoration: underline solid var(--primary-color-dark) 3px;
            text-underline-offset: 2px;
        }
    }
}