.hero-section {
    padding: 198px 0;
    background-image: linear-gradient(103deg,
            rgba(18, 18, 17, 0.78) 2.03%,
            rgba(18, 18, 17, 0.60) 58.46%,
            rgba(18, 18, 17, 0.00) 90.36%), url(../images/header-photo.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    @media screen and (min-width: $bp-tablet) {
        padding: 214px 0;
    }

    @media screen and (min-width: $bp-desktop-small) {
        padding: 200px 0;
    }

    @media screen and (min-width: $bp-desktop-medium) {
        padding: 270px 182px;
    }

    &__title {
        font-family: var(--title-font);
        font-weight: 400;
        line-height: 1.3;
        font-size: 40px;
        color: var(--secondary-color-white);
        margin-bottom: 16px;

        @media screen and (min-width: $bp-tablet) {
            font-size: 54px;
            max-width: 600px;
        }

        @media screen and (min-width: $bp-desktop-small) {
            font-size: 64px;
            max-width: 700px;
        }

        @media screen and (min-width: $bp-desktop-medium) {
            font-size: 84px;
            max-width: 900px;
        }
    }

    &__content {
        margin-bottom: 100px;

        @media screen and (min-width: $bp-desktop-small) {
            margin-bottom: 140px;
        }

        @media screen and (min-width: $bp-desktop-medium) {
            margin-bottom: 170px;
        }
    }

    &__booking {
            max-width: 288px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
            max-width: 660px;
            margin-left: -52px;
            justify-content: flex-start;
        }

        @media screen and (min-width: $bp-desktop-small) {
            max-width: 1055px;
                        margin-left: -60px;
        }

        @media screen and (min-width: $bp-desktop-medium) {
            margin-left: -206px;
            max-width: 1205px;
        }

        @media screen and (min-width: $bp-desktop-big) {
            margin-left: -206px;
            max-width: 1475px;
        }
    }

    &__text {
        color: var(--secondary-color-white);
    }
}