.testimonials-section {
    &__list {
        margin: 100px 0;

        @media screen and (min-width: $bp-tablet) {
            margin: 160px 0;
        }
    }

    &__slider {
        justify-content: center;

        @media screen and (min-width: $bp-desktop-small) {
            justify-content: flex-end;
        }
    }
}