.tour-planners-section {
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 80px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: top;
        gap: 32px;
    }

    &__title-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 32px;

        &--limited {
            max-width: 400px;
        }
    }

    &__text {
        font-size: 18px;
    }

    &__button-content {
        padding: 16px 14px;
        position: relative;
        z-index: 1;
        min-width: 220px;


        &::before,
        &::after {
            content: '';
            width: 43px;
            height: 43px;
            position: absolute;
            z-index: -1;
        }

        &::before {
            background-color: var(--secondary-color-dark);
            left: 0px;
            top: 0px;
        }

        &::after {
            background-color: var(--secondary-color-light);
            right: 0px;
            bottom: 0px;
        }
    }
}